/* Write your CSS code here */

.logo {
  height: 30px;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.nav-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
li {
  list-style-type: none;
  margin: 10px;
  font-family: 'Roboto';
}
.header {
  display: flex;
  flex-direction: row;

  margin: 0px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.button {
  height: 18px;
  width: 75%;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  margin: 20px;
  background-color: #0b69ff;
  color: #ffffff;
  border: 0px;
}
